<section class="login-form">
  <div class="col-5 form-signin">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <h2 class="mb-4">Sign up</h2>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.text_field :first_name, autofocus: true, class:"form-control mb-3", placeholder: "First Name"%>
      </div>
      <div class="field">
        <%= f.text_field :last_name, autofocus: true, class:"form-control mb-3", placeholder: "Last Name"%>
      </div>
      <div class="field">
        <%= f.email_field :email, autofocus: true, class:"form-control mb-3", placeholder: "E-mail"%>
      </div>
      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password",class:"form-control mb-3", placeholder: "Password" %>
      </div>
      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control mb-3", placeholder: "Password confirmation" %>
      </div>
      <div class="actions" style="display: flex; justify-content: end;">
        <%= f.submit "Sign up", class:"btn btn-primary w-100 py-2 mb-3"%>
      </div>
    <% end %>
    <div style="text-align:center">
      <%= render "devise/shared/links" %>
    </div>

  </div>
  <div class="col-7 my-2">
    <%= image_tag("login/signup.avif", class: "login-img") %>
  </div>
</section>
