<!DOCTYPE html>
<html>
  <head>
    <title>RealEstate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'rails-ujs', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
  </head>
  <body>
    <div class="flashes">
      <%= render "shared/flashes" %>
    </div>
    <% if ["dashboard","properties"].include?(controller.controller_name) %>
      <header>
        <%= render "shared/nav-dashboard" %>
        <div class="container-fluid">
          <div style="margin-top:50px">
          <%= render "shared/sidebar" %>
          <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pt-5">

              <%= yield %>
            </div>
          </main>
        </div>
      </header>
    <% else %>
      <%= render "shared/navbar" %>
      <div style="margin-top:50px">
        <%= yield %>
      </div>
    <% end %>
    <%= render "shared/footer" %>
  </body>
</html>
